html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display", serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}

.main-nav {
  text-align: center;
  padding-top: 78px;
  padding-bottom: 102px;
}

.list-link {
  display: inline-block;
  color: #626262;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 24px;
}

.list-link:hover,
.list-link:focus {
  color: #03a9f4;
}

.first-link {
  margin-right: 120px;
}
.second-link {
  margin-right: 102px;
}
.third-link {
  margin-right: 96px;
}
.navigation {
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  list-style: none;
}

.container {
  width: 902px;
  margin: 0 auto;
}

/* article-list */
.article-section article:nth-child(odd) {
  margin-right: 56px;
}

.article-list:not(:last-child) {
  margin-bottom: 102px;
}
.article {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 130px;
}
.article-list {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 420px;
}
.article-section article:nth-last-child(-n + 2) {
  margin-bottom: 50px;
}

.article-list-item {
  list-style: none;
}
.article-image {
  margin: 0;
  margin-bottom: 26px;
}

.image-signature {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #c7c1b6;
  margin: 0;
  margin-bottom: 30px;
}

.article-title {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 32px;
}
.text-content {
  margin: 0;
  padding: 0;
}

.button {
  padding-bottom: 71px;
}

.load-more-button {
  margin: 0px auto;
  padding: 22px 34px;
  display: block;
  border: 1px solid #626262;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  font-family: "Playfair Display", serif;
  color: #626262;
  cursor: pointer;
}
